button {
  display: inline-block;
  background-color: #266ac3;
  border-radius: 35px;
  color: #fff;
  margin-left: 3%;
  padding: 4px 8px;
  cursor: pointer;
  vertical-align: middle;
  /* on si riesce ad allineare verticalmente i pulsanti */
  border: none;
  white-space: nowrap;
}

.task-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-row {
  border: 1px solid black;
  display: grid;
  border-radius: 35px;
  min-width: 20%;
  padding: 1%;
  background-color: lightblue;
  word-break: break-word;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 30%;
}

.delete-btn:hover {
  background-color: #c92e0f;
}

.send-btn:hover {
  background-color: #25c90f;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;

}



li {

  width: 100%;
}